//! Здесь можно импортировать какой-нибудь шрифт, а можно подключить из папки src/fonts как ниже
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap&subset=cyrillic,cyrillic-ext');

/*
@font-face {
  font-family: 'Libre-Baskerville-Reg';
  font-display: fallback;
  font-style: normal;
  src:
    local('Libre Baskerville'), 
    local('LibreBaskerville-Regular'), 
    url('fonts/libre-baskerville-v5-latin-regular.woff2') format('woff2'),
    url('fonts/libre-baskerville-v5-latin-regular.woff') format('woff'); 
}
*/

//! Здесь можно поставить разные шрифты, ну это понятно
$font-heading: 'Libre-Baskerville-Reg', Fallback, 'Georgia', serif;
$font-body: 'Montserrat', sans-serif;

html {
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
}

body {
  font-family: $font-body;
  font-size: 1.6rem;
  color: $black;
}

h1 {
  font-family: $font-heading;
  font-size: 1.7rem;
  font-weight: 400;
}
